.About {
    background-color: $white;
    position: relative;
    height: 100%;

    .flex-box {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .owner-name {
        font-size: 1.8rem;
        font-weight: 500;
        margin: 3rem 0;
    }

    .slider-container {
        width: 1080px;
        height: 620px;
        background-image: url("../../styles/img/desktop_background.png");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .description {
        margin: 3rem 0 0;
        text-align: center;

        p {
            font-size: 1.4rem;
            line-height: 2;
            font-weight: 300;
        }
    }
}
