// font-family: 'Lato', sans-serif;
// font-family: 'Noto Sans KR', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Raleway', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

.ql-snow .ql-icon-picker .ql-picker-label {
    padding: 0px 4px;
}

.ql-toolbar {
    height: 6vh;
    min-height: 70px;
    border: none !important;
}

.ql-editor .ql-video {
    // width: -webkit-fill-available;
    width: 100%;
    // height: 364px;
}

.ql-container {
    // overflow: hidden;
    height: 70vh;
    border: none !important;
    font-family: 'Roboto', sans-serif !important;
}

/* Set default font-family */
.ql-editor {
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
}
// Font - Noto Sans KR
.ql-toolbar .ql-font span[data-label='NotoSansKR100']::before {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
}
.ql-font-NotoSansKR100 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
}
// Font - Noto Sans KR
.ql-toolbar .ql-font span[data-label='NotoSansKR300']::before {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
}
.ql-font-NotoSansKR300 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
}
// Font - Noto Sans KR
.ql-toolbar .ql-font span[data-label='NotoSansKR400']::before {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}
.ql-font-NotoSansKR400 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}
// Font - Noto Sans KR
.ql-toolbar .ql-font span[data-label='NotoSansKR500']::before {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}
.ql-font-NotoSansKR500 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}
// Font - Noto Sans KR
.ql-toolbar .ql-font span[data-label='NotoSansKR700']::before {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
}
.ql-font-NotoSansKR700 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
}
// Font - Noto Sans KR
.ql-toolbar .ql-font span[data-label='NotoSansKR900']::before {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
}
.ql-font-NotoSansKR900 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
}

// Font - Spartan
.ql-toolbar .ql-font span[data-label='Spartan100']::before {
    font-family: 'Spartan', sans-serif;
    font-weight: 100;
}
.ql-font-Spartan100 {
    font-family: 'Spartan', sans-serif;
    font-weight: 100;
}

// Font - Spartan
.ql-toolbar .ql-font span[data-label='Spartan200']::before {
    font-family: 'Spartan', sans-serif;
    font-weight: 200;
}
.ql-font-Spartan200 {
    font-family: 'Spartan', sans-serif;
    font-weight: 200;
}
// Font - Spartan
.ql-toolbar .ql-font span[data-label='Spartan300']::before {
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
}
.ql-font-Spartan300 {
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
}
// Font - Spartan
.ql-toolbar .ql-font span[data-label='Spartan400']::before {
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
}
.ql-font-Spartan400 {
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
}
// Font - Spartan
.ql-toolbar .ql-font span[data-label='Spartan500']::before {
    font-family: 'Spartan', sans-serif;
    font-weight: 500;
}
.ql-font-Spartan500 {
    font-family: 'Spartan', sans-serif;
    font-weight: 500;
}
// Font - Spartan
.ql-toolbar .ql-font span[data-label='Spartan600']::before {
    font-family: 'Spartan', sans-serif;
    font-weight: 600;
}
.ql-font-Spartan600 {
    font-family: 'Spartan', sans-serif;
    font-weight: 600;
}
// Font - Spartan
.ql-toolbar .ql-font span[data-label='Spartan700']::before {
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
}
.ql-font-Spartan700 {
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
}
// Font - Spartan
.ql-toolbar .ql-font span[data-label='Spartan800']::before {
    font-family: 'Spartan', sans-serif;
    font-weight: 800;
}
.ql-font-Spartan800 {
    font-family: 'Spartan', sans-serif;
    font-weight: 800;
}
// Font - Spartan
.ql-toolbar .ql-font span[data-label='Spartan900']::before {
    font-family: 'Spartan', sans-serif;
    font-weight: 900;
}
.ql-font-Spartan900 {
    font-family: 'Spartan', sans-serif;
    font-weight: 900;
}

.ql-editor img {
    @include media('sm') {
        width: 100%;
    }
}

.ql-line-height {
    min-width: 60px;
}

@for $i from 1 through 25 {
    .ql-picker-item[data-value='#{(60.0 + ($i - 1) * 10.0) / 100.0}']::before,
    .ql-picker-label[data-value='#{(60.0 + ($i - 1) * 10.0) / 100.0}']::before {
        content: '#{(60.0 + ($i - 1) * 10.0) / 100.0}' !important;
    }
}
