.landing-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #141414;
    padding: 56px;
}

.big-button-wrapper {
    flex: 1;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.big-button-wrapper--left {
    margin-right: 56px;
}

.big-button-wrapper:hover {
    background-color: green;
}

.bb-title {
    color: white;
    background-color: red;
    
    /* min-height: 108px; */
    font-size: 2.5rem;
    margin-bottom: 32px;
}

.bb-img-button {
    background-color: yellowgreen;
    max-width: 100%;
    height: 100%;
    background-size: cover;
    position: relative;

}

.bb-img-button img {
    position: absolute;
    width: 100%;
    height: 100%;
}


header {
    display: flex;
    width: 100vw;
    margin: 0 auto;
    padding: 40px 0 0 0;
    height: 60px;
}

.header-left,
.header-center,
.header-right {
    flex: 1;
    display: flex;
}

.header-left,
.header-right {
    padding-top: 20px;

}


/* 
** Left Side
*/

.header-left {
    flex-direction: column;
}

.header-left-top {
    padding-bottom: 16px;
}

.main-category>li>a {
    display: inline-block;
    font-size: 22px;
    /* font-family: GothamMedium; */
    -webkit-text-stroke: 2px black;
    transition: all 0.2s;
}

.header-left-bottom ul {
    display: flex;
}

.header-left-bottom li {
    font-size: 16px;
    margin: 0 8px;
    position: relative;
}

.header-left-bottom li a:before,
.header-left-bottom li a:after {
    content: '';
    border-bottom: solid 1px #000;
    position: absolute;
    bottom: 0;
    width: 0;
    transition: all 0.2s ease;
}

.header-left-bottom li a:before {
    left: 0;
}

.header-left-bottom li a:after {
    right: 0;
}

.header-left-bottom li a:hover:before,
.header-left-bottom li a:hover:after {
    width: 50%;
    border-color: #6b6b6b;
}

.header-left-bottom li a:hover {
    text-decoration: none;
    color: #6b6b6b;
}

.header-left-bottom li:first-child {
    margin: 0;
    margin-right: 8px;
}

/* 
** Center Side
*/

.header-center {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: GothamLight;
    -webkit-text-stroke: 0.2px black;
    transition: color 0.2s;
}

.header-center-logo a:hover {
    text-decoration: none;
    color: #6b6b6b;
    -webkit-text-stroke: 0.2px #6b6b6b;
}

/* 
** Right Side
*/

.header-right {
    flex-direction: column;
    align-items: flex-end;
}

.header-right-top {
    padding-bottom: 20px;
}

.header-right-bottom > div.en {
    display: flex;
}

.header-right-bottom a:before,
.header-right-bottom a:after {
    content: '';
    border-bottom: solid 1px #000;
    position: absolute;
    bottom: 0;
    width: 0;
    transition: all 0.2s ease;
}

.header-right-bottom a:before {
    left: 0;
}

.header-right-bottom a:after {
    right: 0;
}

.header-right-bottom a:hover:before,
.header-right-bottom a:hover:after {
    width: 50%;
    border-color: #6b6b6b;
}

.header-right-bottom a:hover {
    text-decoration: none;
    color: #6b6b6b;
}


.header-right-bottom a {
    font-size: 16px;
    margin: 0 8px;
    position: relative;
}


.header-right-bottom a:last-child {
    margin: 0;
    margin-left: 8px;
}

.header-right-bottom .myinfo a {
    margin-right: 8px;
}

/* 
** Sub-Category
*/
.main-category_men {
    position: relative;
}

.main-category_men li {
    position: relative;
    float: left;
    z-index: 99;
}

.main-category_men>li>a {
    display: block;
    z-index: 99;
    padding-bottom: 20px;
}

.main-category_men li a:hover {
    color: #6b6b6b;
    text-decoration: none;
}

.main-category_men>li>a {
    -webkit-text-stroke: 2px #000;
}

.main-category_men>li>a:hover {
    color: #6b6b6b;
    -webkit-text-stroke: 2px #6d6d6d;
    text-decoration: none;
}


/*
** Sub-Category for WOMEN
*/

.main-category_women {
    position: relative;
}

.main-category_women li {
    position: relative;
    float: left;
    z-index: 99;
}

.main-category_women>li>a {
    display: block;
    z-index: 99;
    padding-bottom: 16px;
}

.main-category_women>li>a:hover {
    color: #6b6b6b;
    -webkit-text-stroke: 2px #6d6d6d;
    text-decoration: none;
}

.main-category_women li a:hover {
    color: #6b6b6b;
    text-decoration: none;
}

.main-category_women>li>a {
    -webkit-text-stroke: 2px #000;
}

.main-category_men .sub-category {
    position: absolute;
    left: 0px;
    top: 36px;
    z-index: 90;
    font-weight: normal;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 20px;
    width: 160px;
    background-color: white;
    border: 1px solid rgb(187, 187, 187);
    padding: 12px 0;
    text-transform: uppercase;
}

.main-category_women .sub-category {
    position: absolute;
    right: 0px;
    top: 36px;
    z-index: 90;
    font-weight: normal;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 20px;
    width: 160px;
    background-color: white;
    border: 1px solid rgb(187, 187, 187);
    padding: 12px 0;
    text-transform: uppercase;
}

.main-category_men .sub-category ul li {
    width: 100%;
    text-align: center;
    padding: 8px 0;
}

.main-category_men .sub-category ul li a {
    font-size: 14px;
}

.main-category_men .sub-category a {
    text-decoration: none;
}

.main-category_women .sub-category ul {}

.main-category_women .sub-category ul li {
    width: 100%;
    text-align: center;
    padding: 8px 0;
}

.main-category_women .sub-category ul li a {
    font-size: 14px;
}

.main-category_women .sub-category a {
    text-decoration: none;
}



























/*
** 상단 고정형 헤더
*/

header.fixed-header {
    width: 100%;
    padding: 40px 0;
    margin: 0;
    position: fixed;
    top: -132px;
    left: 0;
    right: 0;
    z-index: 999;
    transition: 0.4s top cubic-bezier(.3, .73, .3, .74);

    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 1px -1px #909090;
}

.fixed-header-container {
    width: 1240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

header.fixed-header.slideDown {
    top: 0;
}

.fixed-header-left {
    display: flex;
}

.fixed-header-left-logo {
    display: flex;
    align-items: flex-end;
    font-size: 40px;
    font-family: GothamLight;
    -webkit-text-stroke: 0.2px black;
    margin-right: 20px;
    margin-bottom: -3px;
}

.fixed-header-left-logo a:hover {
    text-decoration: none;
    color: #6b6b6b;
    -webkit-text-stroke: 0.2px #6b6b6b;
}

.fixed-main-category-container {
    display: flex;
}

.fixed-main-category {
    display: flex;
    align-items: flex-end;
}

.fixed-main-category>li>a {
    display: inline-block;
    font-size: 22px;
    /* font-family: GothamMedium; */
    -webkit-text-stroke: 2px black;
}

.header-left-bottom li a:before,
.header-left-bottom li a:after {
    content: '';
    border-bottom: solid 1px #000;
    position: absolute;
    bottom: 0;
    width: 0;
    transition: all 0.2s ease;
}

.fixed-main-category.main-category_men {
    margin-right: 20px;
}

.fixed-main-category.main-category_men>li>a {
    display: block;
    z-index: 99;
    padding-bottom: 20px;
    margin-bottom: -20px;
}

.fixed-main-category.main-category_men>li>a:hover {
    color: #6b6b6b;
    -webkit-text-stroke: 2px #6d6d6d;
    text-decoration: none;
}

.fixed-header-right-top.fixed-main-category.main-category_women {
    padding: 0;
}

.fixed-header-right-top.fixed-main-category.main-category_women>li>a {
    display: block;
    z-index: 99;
    padding-bottom: 20px;
    margin-bottom: -20px;
}

.fixed-main-category.main-category_women>li>a:hover {
    color: #6b6b6b;
    -webkit-text-stroke: 2px #6d6d6d;
    text-decoration: none;
}

.fixed-header-right-top {
    padding-bottom: 20px;
}

.fixed-header-right-top ul {
    display: flex;
    justify-content: flex-end;
}

.fixed-header-right-top li {
    font-size: 13px;
    margin: 0 8px;
    position: relative;
}

.fixed-header-right-top li a:before,
.fixed-header-right-top li a:after {
    content: '';
    border-bottom: solid 1px #000;
    position: absolute;
    bottom: 0;
    width: 0;
    transition: all 0.2s ease;
}

.fixed-header-right-top li a:before {
    left: 0;
}

.fixed-header-right-top li a:after {
    right: 0;
}

.fixed-header-right-top li a:hover:before,
.fixed-header-right-top li a:hover:after {
    width: 50%;
    border-color: #6b6b6b;
}

.fixed-header-right-top li a:hover {
    text-decoration: none;
    color: #6b6b6b;
}

.fixed-header-right-top li:last-child {
    margin: 0;
    margin-left: 8px;
}

.fixed-header-right-bottom > div.en {
    display: flex;
}

.fixed-header-right-bottom a {
    font-size: 13px;
    margin: 0 8px;
    position: relative;
}

.btnBasket {
    display: flex;
}

.btnBasket > span {
    margin-left: 2px;
}

.fixed-header-right-bottom a:before,
.fixed-header-right-bottom a:after {
    content: '';
    border-bottom: solid 1px #000;
    position: absolute;
    bottom: 0;
    width: 0;
    transition: all 0.2s ease;
}

.fixed-header-right-bottom a:before {
    left: 0;
}

.fixed-header-right-bottom a:after {
    right: 0;
}

.fixed-header-right-bottom a:hover:before,
.fixed-header-right-bottom a:hover:after {
    width: 50%;
    border-color: #6b6b6b;
}

.fixed-header-right-bottom a:hover {
    text-decoration: none;
    color: #6b6b6b;
}

.fixed-header-right-bottom a:first-child {
    margin: 0;
    margin-right: 8px;
}

.fixed-header-right-bottom a:last-child {
    margin: 0;
    margin-left: 8px;
}


/*
**  상단 고정형 헤더 - Sub Cateogry
*/

.fixed-main-category-container {
    position: relative;
}

.fixed-main-category-container .main-category_women {
    position: relative;
}

.fixed-main-category-container .main-category_women li {
    position: relative;
    float: left;
    z-index: 99;
}

.fixed-main-category-container .main-category_women>li>a {
    display: block;
    z-index: 99;
    padding-bottom: 20px;
    margin-bottom: -20px;
}

.fixed-main-category-container .main-category_women li a:hover {
    color: #6b6b6b;
    text-decoration: none;
}

.fixed-main-category-container .main-category_men .sub-category {
    position: absolute;
    left: 0px;
    top: 48px;
    z-index: 90;
    font-weight: normal;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 20px;
    width: 160px;
    background-color: white;
    border: 1px solid rgb(187, 187, 187);
    padding: 12px 0;
    text-transform: uppercase;
}

.fixed-main-category-container .main-category_women .sub-category {
    position: absolute;
    left: 0px;
    top: 48px;
    z-index: 90;
    font-weight: normal;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 20px;
    width: 160px;
    background-color: white;
    border: 1px solid rgb(187, 187, 187);
    padding: 12px 0;
    text-transform: uppercase;
}

.fixed-main-category-container .main-category_men .sub-category ul li {
    width: 100%;
    text-align: center;
    padding: 8px 0;
}

.fixed-main-category-container .main-category_men .sub-category ul li a {
    font-size: 14px;
}

.fixed-main-category-container .main-category_men .sub-category a {
    text-decoration: none;
}

.fixed-main-category-container .main-category_women .sub-category ul {}

.fixed-main-category-container .main-category_women .sub-category ul li {
    width: 100%;
    text-align: center;
    padding: 8px 0;
}

.fixed-main-category-container .main-category_women .sub-category ul li a {
    font-size: 14px;
}

.fixed-main-category-container .main-category_women .sub-category a {
    text-decoration: none;
}