.LayoutAdminMain {
    background-color: $admin-main-container-color;
    color: $white;
    display: flex;
    height: 100%;
    position: relative;
    user-select: none;
    width: 100%;
    @include media('xs') {
        flex-direction: column;
    }

    &.is-not-logged-in {
        background-color: $admin-main-container-color;
        height: 100vh;
        @include centerPosition;
    }

    .header {
        align-items: center;
        background-color: rgba($admin-sidebar-color, 1);
        display: flex;
        height: 60px;
        justify-content: space-between;
        padding: 0.75rem  1rem 0.75rem 1.5rem;
        position: sticky;
        top: 0;
        z-index: $z-header-admin;
        @include media('xs') {
            min-height: 60px;
        }

        .logo {
            font-size: 1.2rem;
            font-weight: 800;
        }

        .wrapper-hamburger-menu {
            color: $white;
            cursor: pointer;
            padding: 1rem 0.5rem;
            @include centerPosition;

            .icon-menu {
                position: relative;
    
                &,
                &::before,
                &::after {
                    background-color: $white;
                    display: inline-block;
                    height: 2px;
                    width: 1.5rem;
                }
    
                &::before,
                &::after {
                    content: "";
                    left: 0;
                    position: absolute;
                    transition: all .2s;
                }
    
                &::before {
                    top: -5px;
                }
    
                &::after {
                    top: 5px;
                }
    
                &.isOpened {
                    background-color: transparent;
    
                    &::before {
                        top: 0;
                        transform: rotate(135deg);
                    }
    
                    &::after {
                        top: 0;
                        transform: rotate(-135deg);
                    }
                }
            }
        }

    }
    
    .hamburger-contents {
        align-items: center;
        background-color: $admin-toggle-menu-color;
        box-shadow: $box-shadow-admin-menu;
        display: flex;
        flex-direction: column;
        width: 100%;
        left: 0;
        top: -400px;
        opacity: 0;
        transition: all 300ms ease;
        position: fixed;
        z-index: 2700;
        
        &.isOpened {
            top: 58px;
            opacity: 1;
        }
        .list-item-category {
            text-align: center;
            padding: 1.2rem 0;
            width: 100%;
            background-color: $admin-toggle-menu-color;
            color: $font-color-dark;

            &.horizon-divider {
                padding: 2rem 0;
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%);
                    width: 10%;
                    height: 1px;
                    background-color: $font-color-light;
                }
            }
        }
        .button-logout {
            border: 0;
        }

        .link-to-site {
            .icon {
                margin-right: 0.5rem;
            }
        }
    }
    
    .aside {
        background-color: $admin-sidebar-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        overflow-y: scroll;
        padding: 2rem 0 3rem 0;
        position: sticky;
        top: 0;
        width: 360px;
        z-index: $z-aside;
        @include media('xs') {
            display: none;
        }

        .logo {
            cursor: pointer;
            font-size: 2rem;
            font-weight: 700;
            margin-bottom: 3rem;
            padding: 2rem 3rem;
            transition: color 300ms ease;
            @include fontEn;
            &:hover {
                color: $font-color-light;
            }
        }

        .list-category {
            padding: 2rem 3rem;
            width: 100%;

            .list-item-wrapper {
                &:not(:last-child) {
                    margin-bottom: 1rem;
                }
            }

            .list-item-category {
                color: $white;
                cursor: pointer;
                display: block;
                font-size: 1.2rem;
                font-weight: 300;
                padding: 1rem 0;
                text-decoration: none;
                transition: color 300ms ease;
                width: 100%;
                &:hover {
                    color: $font-color-light;
                }
            }
        }

        .footer {
            font-size: 1rem;
            margin-top: auto;
            padding: 0rem 3rem;
            text-align: center;
            width: 100%;
            

            .link-to-site, .button-logout {
                align-items: center;
                color: $white;
                display: flex;
                font-size: 0.9em;
                font-weight: 100;
                justify-content: center;
                transition: all 300ms ease;
            }

            .button-logout {
                background-color: transparent;
                border: 0;
                margin-bottom: 2rem;
                outline: 0;
                width: 100%;
                &:hover {
                    color: $font-color-light;
                }
            }
            
            .link-to-site {
                margin-bottom: 4rem;
                &:hover {
                    text-decoration: none;

                    span::after {
                        content: '';
                        width: calc(100% + 24px);
                        height: 1px;
                        background-color: white;
                        opacity: 1;
                        position: absolute;
                    }
                }

                span {
                    position: relative;
                    &::after {
                        content: '';
                        width: 0%;
                        height: 1px;
                        background-color: white;
                        position: absolute;
                        opacity: 0;
                        right: 0;
                        bottom: -3px;
                        transition: all 200ms ease;
                    }
                }

                .icon {
                    margin-right: 0.5rem;
                }
            }

            .footer-content {
                color: rgba($font-color-light, 0.7);
                font-size: 0.8em;
                font-weight: 300;
                @include fontEn;
            }
        }

    }

    .main {
        background-color: $admin-main-container-color;
        color: $font-color-dark;
        width: 100%;
        @include media('xs') {
            width: 100%;
        }
    }
}