@import './resetCSS';
@import './animate';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;700;900&family=Raleway:wght@100;200;300;400;500;600;800&display=swap');

html,
body {
    width: 100%;
}

html {
    box-sizing: border-box; // Padding, Margin 을 포함한 박스크기 || 반응형에 적합
    cursor: none !important;

    font-size: 16px; // 1rem
    font-family: 'Raleway', sans-serif; // 1,2,3,6,8
    // font-family: "Noto Sans KR", sans-serif; // 1,3,4,7,9
    // background-color: $black;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}
html {
    height: -webkit-fill-available;
}
*,
*:hover,
*:active,
*:focus {
    cursor: none !important;
    // user-select: none !important;
}

div#root {
    height: 100%;
    width: 100%;
}

[contenteditable] {
    user-select: text;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}
