.Home {
    height: 100%;

    .floating-container {
        position: fixed;
        right: 2rem;
        top: 2rem;
        z-index: $z-button-to-admin;

        button {
            background-color: $white;
            border: 0;
            &:hover {
                text-decoration: underline;
            }

            .icon {
                font-size: 2rem;
            }
        }
    }

    .main {
        display: flex;
        flex-direction: column;
        height: $height-full;
        position: relative;
        @include centerPosition;

        .wrapper-brand-logo {
            font-size: 2rem;
            font-weight: 800;
            position: absolute;
            top: $top-main-logo;
            user-select: none;
            @include fontEn;
            @include media('xs') {
                top: $top-main-logo-mobile;
            }
        }

        .list-main-category {
            list-style: none;
            @include media('xs') {
                padding-top: 100px;
            }
            
            .link-nav-item {
                color: $font-color-dark;
                text-decoration: none;
                user-select: none;
                &:last-child {
                    .list-item-main-category {
                        margin-bottom: 0;
                    }
                }
            }

            .list-item-main-category {
                cursor: pointer;
                font-weight: 300;
                margin-bottom: 2.5rem;
                padding: 0.3rem;
                text-align: center;
                text-transform: capitalize;
                transition: color 400ms ease;
                @include fontEn;
                @include media('xs') {
                    margin-bottom: 25px;
                }
                &:hover {
                    color: $font-color-light;
                }
            }
        }
    }
}