@keyframes fadeIn {
    from {
        opacity: 0.25;
    }

    to {
        opacity: 1;
    }
}
.Home {
    // xl 초과하는 범위에서
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 0.7s;
    animation-fill-mode: both;
    animation-timing-function: ease;
    //   background-image: url("../../styles/img/desktop_background.jpeg");
    //   background-size: cover;
    //   background-repeat: no-repeat;
    background-color: $white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    background-position-x: 50%;

    @include media('lg') {
    }

    @include media('sm') {
        // background-image: url("../../styles/img/mobile_background.jpeg");
    }

    .identity {
        position: relative;
        margin-left: 100px;
        margin-top: 76px;

        @include media('sm') {
            position: absolute;
            margin: 0;
            left: 35px;
            bottom: 35px;
            padding-left: 0;
        }

        p {
            font-size: 17px;
            font-weight: 300;
            letter-spacing: 0em;
            line-height: 30px;
            margin: 0;

            @include media('sm') {
                font-size: 12px;

                font-weight: 300;
                line-height: 20px;
                letter-spacing: 0em;
            }
        }

        .site-name {
            display: block;
            margin-top: 200px;

            font-size: 17px;
            font-style: normal;
            font-weight: 300;
            line-height: 30px;
            letter-spacing: 0em;

            &--mobile {
                top: 50%;
                font-size: 0.95rem;
            }
        }
    }

    .site-name--mobile {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 24px;

        writing-mode: vertical-rl;

        font-size: 12px;

        font-weight: 300;
        line-height: 30px;
        letter-spacing: 0em;
    }

    .concept-point {
        position: absolute;
        top: 60%;
        left: 77%;

        p {
            margin: 0;
            font-size: 1.2rem;

            line-height: 1.2;
        }
    }

    .sns {
        margin-top: 300px;
        margin-left: 100px;
        display: flex;
        align-items: center;

        a {
            display: flex;
            align-items: center;
            font-size: 13px;
            font-weight: 300;
            letter-spacing: 0em;
            &:first-child {
                margin-right: 50px;
            }
            img {
                margin-right: 15px;
            }
        }
    }
}
