@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.Home {
    background-image: url("../../styles/img/desktop_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    position: relative;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0.5rem 1.3rem;
        width: 100%;
        height: 5.5vh;

        .concept-title span {
            font-size: 1.8rem;
            font-weight: 400;
        }

        nav ul {
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0 2.5rem;
            li {
                list-style: none;
                padding: 0 1rem;
                font-size: 1.8rem;
                font-weight: 400;

                &:nth-child(2) {
                    margin: 0 2.5rem;
                }
            }
        }
    }

    .identity {
        margin: 1.3rem;
        margin-top: 5rem;
        position: relative;

        p {
            margin: 0;
            font-size: 2.25rem;
            font-weight: 200;
            line-height: 1.2;
        }

        .site-name {
            position: absolute;
            bottom: -7rem;
            font-weight: 200;
            font-size: 1.4rem;
        }
    }

    .concept-point {
        position: absolute;
        top: 60%;
        right: 12%;

        p {
            margin: 0;
            font-size: 1.3rem;
            font-weight: 200;
            line-height: 1.2;
        }
    }

    .sns {
        position: absolute;
        display: flex;
        bottom: 7vh;
        left: 4vw;

        div {
            font-size: 1.1rem;
            &:first-child {
                margin-right: 5rem;
            }
            &::before {
                content: "â—";
                font-size: 0.8rem;
                margin-right: 0.5rem;
            }
        }
    }
}

// .floating-container {
//     position: fixed;
//     top: 2rem;
//     right: 2rem;
//     z-index: $z-button-to-admin;
//     @include media("md") {
//         // top: initial;
//         left: 2rem;
//         // bottom: 2rem;
//     }

//     button {
//         background-color: transparent;
//         border: 0;
//         &:hover {
//             text-decoration: underline;
//         }

//         .icon {
//             color: $white;
//             font-size: 2rem;
//         }
//     }
// }

// .container {
//     height: 100%;

//     img {
//         max-width: 100%;
//         height: auto;
//         max-height: 100%;
//     }

//     &--left,
//     &--right {
//         animation-name: fadeIn;
//         animation-duration: 1.5s;
//         animation-fill-mode: both;
//         flex: 1;
//         opacity: 0;
//     }

//     &--left {
//         margin-left: 2rem;
//         @include centerPosition;
//         @include media("xs") {
//             display: none;
//         }
//     }

//     &--center {
//         min-width: 300px;
//     }

//     &--right {
//         margin-right: 2rem;
//         @include centerPosition;
//         @include media("xs") {
//             display: none;
//         }
//     }
// }

// .main {
//     // display: flex;
//     // flex-direction: column;
//     height: $height-full;
//     position: relative;
//     width: 100%;

//     @include media("xs") {
//         display: flex;

//         @include centerPosition;
//     }

//     .wrapper-brand-logo {
//         text-align: center;
//         left: 50%;
//         position: absolute;
//         bottom: 0;
//         user-select: none;
//         transform: translateX(-50%);
//         width: 100%;
//         @include fontEn;
//         font-weight: 900;
//         font-size: 260px;
//         line-height: 197px;
//         transition: all 0.2s;

//         @include media("xl") {
//             font-size: 190px;
//             line-height: 143px;
//         }
//         @include media("lg") {
//             font-size: 120px;
//             line-height: 90px;
//         }
//         @include media("md") {
//             font-size: 90px;
//             line-height: 70px;
//         }
//         @include media("sm") {
//             font-size: 48px;
//             line-height: 36px;
//         }
//     }

//     .list-main-category {
//         animation-name: fadeIn;
//         animation-duration: 1.5s;
//         animation-fill-mode: both;
//         opacity: 0;
//         position: absolute;
//         list-style: none;
//         left: 9rem;
//         text-align: left;
//         top: 6rem;
//         @include media("xs") {
//             // margin-top: -2rem;
//             position: relative;
//             top: initial;
//             left: initial;
//         }

//         .link-nav-item {
//             > li {
//                 padding: 16px;
//             }
//             color: $white;
//             text-decoration: none;
//             user-select: none;
//             &:last-child {
//                 .list-item-main-category {
//                     margin-bottom: 0;
//                 }
//             }

//             &.sns-link {
//                 @include media("sm") {
//                     display: none;
//                 }
//             }

//             &--archive {
//                 > li {
//                     position: relative;
//                 }

//                 .archive-sub-category {
//                     position: absolute;
//                     padding: 0;
//                     top: 0;
//                     left: 100%;
//                     display: none;
//                     a:hover {
//                         text-decoration: none;
//                     }
//                     li {
//                         padding: 16px;
//                         list-style: none;
//                         color: #ffffff;
//                         transition: all 0.2s;
//                     }
//                 }

//                 .archive-sub-category > div > li:hover {
//                     opacity: 0.8;
//                 }

//                 &:hover {
//                     .archive-sub-category {
//                         display: block;
//                     }
//                 }

//                 .work-sub-category {
//                     display: none;
//                     position: absolute;
//                     padding: 0;
//                     top: 0;
//                     left: 100%;

//                     & > div > li:hover {
//                         opacity: 0.8;
//                     }
//                 }

//                 .archive-sub-category > div:first-child:hover > li {
//                     .work-sub-category {
//                         display: block;
//                     }
//                 }
//             }
//         }

//         .list-item-main-category {
//             cursor: pointer;
//             font-size: 17px;
//             margin-bottom: 30px;
//             padding: 0.3rem;
//             text-transform: capitalize;
//             transition: color 400ms ease;
//             @include fontEn;
//             @include media("xs") {
//                 margin-bottom: 38px;
//                 font-size: 14px;
//                 text-transform: capitalize;
//                 text-align: center;
//             }

//             &:hover {
//                 > span::after {
//                     content: "";
//                     width: 100%;
//                     height: 1px;
//                     background-color: $white;
//                     position: absolute;
//                     bottom: 2px;
//                     left: 0;

//                     @include media("xs") {
//                         display: none;
//                         height: 0;
//                         // bottom: 4px;
//                         width: 0;
//                     }
//                 }
//             }

//             span {
//                 position: relative;
//             }
//         }
//     }
// }
