.Editor {
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
    position: relative;
    width: 100%;
    overflow: hidden;
    
    &.isLoading {
        height: 100vh;
        @include centerPosition;

        p {
            color: $font-color-dark;
            font-weight: 100;
            margin-top: 1rem;
        }
    }

    .wrapper-textarea {
        background-color: $white;
        padding-bottom: 1rem;
        @include media('xs') {
            padding-bottom: 0;
        }

        .textarea-post-title {
            border: 0;
            border-radius: $radius-easy;
            font-size: 2.5rem;
            padding: 1.5rem;
            outline: 0;
            resize: none;
            width: 100%;
            @include media('xs') {
                font-size: 1.75rem;
                padding: 1rem;
            }
        }
    }

    .wrapper-category-thumbnail {
        background-color: #f5f5f5;
        display: flex;
        padding: 0rem 1rem;
        
        .category {
            align-items: center;
            display: flex;
            font-size: 1.2rem;
            padding: 0.5rem;
            padding-left: 0;
        }

        .preview {
            align-items: center;
            display: flex;
            padding: 0.5rem;

            .file-input {
                bottom: 0;
                color: $font-color-dark;
                height: 100%;
                left: 0;
                opacity: 0;
                position: absolute;
                right: 0;
                top: 0;
                width: 100%;
            }

            label {
                align-items: center;
                background: $admin-sidebar-color;
                border-radius: $radius-easy;
                cursor: pointer;
                display: flex;
                font-size: 0.9rem;
                margin-bottom: 0;
                padding: 0.5rem 1rem;
            }

            .fake-img {
                background-color: $fake-box-color-300;
                border-radius: $radius-easy;
                color: $font-color-light;
                font-size: 0.8rem;
                height: 60px;
                margin-left: 0.5rem;
                width: 60px;
                @include centerPosition;
            }

            figure {
                margin: 0;
            }
            
            img {
                border: 1px solid lightgrey;
                border-radius: 2px;
                height: 60px;
                margin-left: 0.5rem;
                padding: 0.1rem;
                width: 60px;
            }
        }
    }

    .wrapper-buttons {
        background-color: rgba($white, 0.85);
        bottom: 0;
        display: flex;
        left: 0;
        justify-content: space-between;
        padding: 1rem 1rem;
        position: fixed;
        width: 100%;

        .button {
            border: 1px solid transparent;
            border-radius: $radius-easy;
            color: $white;
            cursor: pointer;
            font-size: 1.1rem;
            outline: 0;
            padding: 0.5rem 1rem;
            transition: color 300ms ease;

            &-back {
                align-items: center;
                color: $font-color-dark;
                display: flex;
                &:hover {
                    color: $font-color-light;
                }

                .icon {
                    margin-right: 0.5rem;
                }
            }

            &-publish {
                background-color: $admin-sidebar-color;
                margin-right: 1rem;
                @include media('xs') {
                    margin-right: 0rem;
                }
            }
        }
    }
}