.PostList {
    user-select: none;
    display: flex;
    flex-wrap: wrap;
    // margin: auto;
    padding-bottom: 1rem;
    width: 100%;
    &.no-posts {
        height: 100%;
    }
    @include media('md') {
        margin: -0.25rem 0rem 0 0;
    }
    
    .list-item-post, .fake-container {
        background-color: lightgray;
        border-radius: 2px;
        margin: 8px;
        overflow: hidden;
        width: 540px;
        height: 810px;
        transition: opacity 300ms ease;
        @include media('lg') {
            width: calc(50% - 1rem);
            height: 100%;
        }
        @include media('sm') {
            width: 100%;
        }

        &:hover {
            opacity: 0.85;
        }

        .img, .fake-box {
            width: 100%;
            height: auto;
            min-height: 540px;
        }

        .fake-box {
            width: 24rem;
            height: 24rem;
            background-color: $fake-box-color;
        }
    }
    
    .no-posts {
        align-items: center;
        display: flex;
        height: 100%;
        flex-direction: column;
        margin-top: 4rem;
        width: 70%;
        @include media('md') {
            width: 100%;
        }
        
        img {
            width: 100px;
        }

        p {
            margin-top: 1rem;
            font-weight: 100;
        }

    }
}