@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.NavBar {
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: $height-header;
    z-index: $z-header-archive;

    @include media('md') {
        display: none;
    }

    .list-main-category {
        animation-name: fadeIn;
        animation-duration: 1s;
        animation-fill-mode: both;
        display: flex;
        justify-content: center;
        list-style: none;
        opacity: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
        position: relative;


        .link-nav-item {
            color: $font-color-dark;
            text-decoration: none;
            transition: font-size 400ms ease-in-out;
            user-select: none;

            &:last-child {
                .list-item-main-category {
                    margin-bottom: 0;
                }
            }
        }

        .list-item-main-category {
            cursor: pointer;
            color: $white;
            font-size: 24px;
            height: 2.5rem;
            margin: 0 25px;
            position: relative;
            text-align: center;
            text-transform: capitalize;
            transition: all 400ms ease;
            @include fontEn;
            @include centerPosition;
        }
    }

    .active-marker {
        // Initially, this is positioned so that the first menu item is shown as active.
        animation-name: fadeIn;
        animation-duration: 3s;
        animation-fill-mode: both;
        background-color: $white;
        bottom: 24px;
        display: none;
        height: 1px;
        opacity: 0;
        position: absolute;
        border-radius: $radius-easy;
        transform: translateY(0px);
        transition: all 400ms ease-in-out;
    }

    .container-sns {
        
        bottom: 10%;
        display: flex;
        justify-content: center;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 100%;
        
        .icon {
            animation-name: fadeIn;
            animation-duration: 2s;
            animation-fill-mode: both;
            color: $font-color-light;
            cursor: pointer;
            font-size: 1.45rem;
            opacity: 0;
            transition: color 300ms ease-in-out;

            &:nth-child(2) {
                margin: 0 1rem;
            }

            &:hover {
                color: $font-color-dark;
            }

        }
    }
}