// font-family: 'Lato', sans-serif;
// font-family: 'Noto Sans KR', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Raleway', sans-serif;

.ql-snow .ql-icon-picker .ql-picker-label {
    padding: 0px 4px;
}

.viewer-quill > .ql-container {
    height: 100% !important;
    border: none !important;
    font-family: "Roboto", sans-serif !important;
}
