@keyframes fadeIn {
    from {
        opacity: 0.05;
    }

    to {
        opacity: 1;
    }
}
.Viewer {
    background-color: $white;
    position: relative;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;

    .flex-box {
        background-color: $white;
        padding: 0 0.8rem 0rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .breadcrumb {
        font-size: 22px;
        font-weight: 300;
        margin: 3rem 0;
        text-transform: uppercase;
        text-align: center;
        @include media("md") {
            font-size: 1.3rem;
        }
    }
    article {
        animation-name: fadeIn;
        animation-duration: 1.5s;
        animation-fill-mode: both;
        animation-timing-function: ease-in;
        margin: auto;
        position: relative;
        padding-top: 1rem;
        width: 60%;
        @include media("xl") {
        }
        @include media("lg") {
            width: 70%;
        }
        @include media("md") {
            width: 90%;
        }
        @include media("sm") {
            width: 95%;
        }

    }
}
