.ql-readOnly-container .ql-toolbar {
    display: none;
    /* height: 6vh; */
    /* min-height: 70px; */
    border: none !important;
}

.ql-readOnly-container .ql-container {
    overflow: visible !important;
    height: 100% !important;
    border: none !important;
    font-family: "Roboto", sans-serif !important;
}
