.LayoutAdmin {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    .wrapper-section-title {
        flex: 1;
        padding: 4rem;
        @include media('xs') {
            padding: 3rem 2rem;
        }

        .section-title {
            font-size: 1.8rem;
            position: relative;
            &::before {
                height: 2px;
                width: 40px;
                background-color: $font-color-dark;
                content: '';
                position: absolute;
                left: 0;
                bottom: -13px;
            }
        }
    }
    
    .container {
        flex: 1;
        padding: 4rem 6rem;
        position: relative;
        @include media('xs') {
            padding: 2rem 1rem;
        }
    }
}