.Admin {
    color: $white;
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
    user-select: none;

    &.is-not-logged-in {
        background-color: $admin-main-container-color;
        height: 100vh;
        @include centerPosition;
    }
    
    
}
