.AdminLogin {
    background-color: $white;
    box-shadow: $box-shadow-admin-element;
    color: $font-color-dark;
    border-radius: $radius-easy;
    padding: 3rem 4rem 3rem;
    @include media('xs') {
        width: 100%;
        padding: 3rem 1rem;
    }

    .title {
        font-size: 1.5rem;

        margin-bottom: 4rem;
        text-align: center;
    }

    .form {
        display: flex;
        flex-direction: column;

        .wrapper-input {
            position: relative;
            margin-bottom: 2.5rem;
            padding: 0 0.5rem;
            display: flex;
            align-items: center;

            &::after {
                background-color: $font-color-light;
                content: '';
                height: 1px;
                width: 100%;
                position: absolute;
                bottom: -8px;
                left: 0;
            }

            .icon {
                color: $font-color-light;
                margin-right: 1rem;
            }

            .input {
                border: 0;
                outline: 0;
                width: 260px;
                @include fontEn;
            }

            label {
                display: none;
            }
        }

        .button-login {
            background-color: $admin-sidebar-color;
            border: 1px solid transparent;
            border-radius: $radius-easy;
            color: $white;
            cursor: pointer;
            font-size: 1rem;
            // outline: 0;
            padding: 0.35rem 1rem;
            @include fontEn;
            &:active {
                background-color: rgba($admin-sidebar-color, 0.8);
                border: 1px solid transparent;
            }
            &.disabled {
                opacity: 0.3;
                cursor: not-allowed;
            }
        }

        .button-back {
            background-color: transparent;
            border: 0;
            display: flex;
            align-items: center;
            margin-top: 5rem;
            transition: color 300ms ease;
            width: 100%;
            &:hover {
                color: $font-color-light;
            }

            .icon {
                margin-right: 0.5rem;
            }
        }
    }
}
