@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.DesktopLayout {
    position: relative;
    height: 100%;
    min-height: 100vh;

    a {
        color: inherit;
        text-decoration: none;
        &:hover,
        &:focus,
        &:active,
        &:visited {
            color: inherit;
        }
    }
    header {
        min-height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0rem 1.3rem;

        .concept-title span {
            font-size: 1.8rem;
            font-weight: 500;
        }

        // Main Category
        nav {
            z-index: 999999;
            & > ul {
                position: relative;
                display: flex;
                align-items: center;
                margin: 0;

                & > li {
                    list-style: none;
                    font-size: 1.8rem;
                    font-weight: 500;
                    padding: 0 2rem;

                    & > a {
                        display: inline-block;
                        padding: 1.3rem 0;
                    }

                    &:first-child {
                        padding-left: 0;
                    }
                    &:last-child {
                        padding-right: 0;
                        position: relative;
                        &:hover {
                            .sub-nav {
                                display: flex;
                            }
                        }

                        .sub-nav {
                            display: none;
                            position: absolute;
                            left: 50%;
                            top: 100%;
                            transform: translateX(calc(-50% + 1rem));

                            flex-direction: column;
                            margin: 0;
                            padding: 0;
                            & > li {
                                width: 100%;
                                position: relative;
                                list-style: none;
                                font-size: 1.5rem;
                                font-weight: 400;
                                text-transform: uppercase;
                                &:not(:last-child) a {
                                    padding-bottom: 1rem;
                                }

                                & > a {
                                    width: 100%;
                                    text-align: center;
                                    display: inline-block;
                                    // padding: 0.3rem 0 1.6rem;
                                }
                            }
                            .sub-nav-item--Work {
                                position: relative;
                                &:hover {
                                    ul.work-sub {
                                        display: flex;
                                    }
                                }
                            }

                            .sub-nav-item {
                                .work-sub {
                                    display: none;
                                    position: absolute;
                                    margin: 0;
                                    padding: 0;
                                    // padding-bottom: 1rem;
                                    padding-right: 1.3rem;
                                    right: calc(100%);
                                    top: 0;
                                    flex-direction: column;
                                    & > li.work-sub-item {
                                        list-style: none;
                                        font-size: 1.2rem;
                                        font-weight: 400;

                                        padding-bottom: 1rem;

                                        & > a {
                                            width: 100%;
                                            text-align: center;
                                            text-transform: uppercase;
                                            display: inline-block;
                                            width: 100%;
                                            margin: 0;
                                            padding: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    main {
        opacity: 0;
        animation-name: fadeIn;
        animation-duration: 0.7s;
        animation-fill-mode: both;
        animation-timing-function: ease-in;
    }
}
