.DesktopLayout {
    position: relative;

    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);

    &.disableScroll {
        overflow: hidden;
    }

    a {
        color: inherit;
        text-decoration: none;
        &:hover,
        &:focus,
        &:active,
        &:visited {
            color: inherit;
            cursor: none !important;
        }
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0rem 3.3rem;

        @include media("md") {
            padding: 2rem 2rem;
            border-bottom: 1px solid #151515;
            &.borderless {
                border-bottom: 0;
            }
        }

        .concept-title {
            z-index: 9999999;
        }

        .concept-title span {
            font-size: 22px;
            font-weight: 500;

            @include media("sm") {
                font-size: 17px;
                font-weight: 600;
            }
        }

        // Main Category
        nav {
            z-index: 999999;
            & > ul {
                position: relative;
                display: flex;
                // align-items: center;
                margin: 0;

                & > li {
                    min-width: 120px;
                    list-style: none;
                    font-size: 22px;
                    font-weight: 500;
                    padding: 0 2rem;

                    & > a {
                        display: inline-block;
                        padding: 1.3rem 0;
                    }

                    &:first-child {
                        padding-left: 0;
                    }
                    &:last-child {
                        padding-right: 0;
                        position: relative;

                        .sub-nav {
                            &.active {
                                max-height: 500px !important;
                            }
                            overflow: hidden;
                            display: flex;
                            transition: max-height 0.5s ease-in-out;
                            max-height: 0;
                            position: absolute;
                            left: 50%;
                            top: 100%;
                            transform: translateX(calc(-50% + 1rem));

                            flex-direction: column;
                            margin: 0;
                            padding: 0;
                            & > li {
                                width: 100%;
                                min-width: 120px;
                                position: relative;
                                list-style: none;
                                font-size: 20px;
                                font-weight: 400;
                                text-transform: uppercase;
                                &:not(:last-child) a {
                                    padding-bottom: 1rem;
                                }
                                &:last-child {
                                    padding-bottom: 5rem;
                                }

                                & > a {
                                    width: 100%;
                                    // text-align: center;
                                    display: inline-block;
                                    padding: 22px 0 1.6rem;
                                }
                            }
                            .sub-nav-item--Work {
                                position: relative;
                            }

                            .sub-nav-item {
                                .work-sub {
                                    &.active {
                                        max-height: 500px !important;
                                    }
                                    transition: max-height 0.45s ease-in;
                                    display: flex;
                                    overflow: hidden;
                                    max-height: 0;
                                    margin: 0;
                                    padding: 0;
                                    flex-direction: column;
                                    & > li.work-sub-item {
                                        list-style: none;
                                        font-size: 15px;
                                        font-weight: 400;

                                        &:first-child > a {
                                            margin-top: 22px;
                                        }

                                        &:last-child > a {
                                            padding-bottom: 16px;
                                        }
                                        & > a {
                                            width: 100%;
                                            // text-align: center;
                                            text-transform: uppercase;
                                            display: inline-block;
                                            width: 100%;
                                            margin: 0;
                                            padding: 0;
                                            padding-bottom: 38px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    main {
        width: 100%;
        animation-fill-mode: both;
        animation-timing-function: ease-out;
        animation-duration: 0.7s;
        &.fadeIn {
            opacity: 0;
            animation-name: fadeIn;
        }
        &.fadeUp {
            opacity: 0;
            animation-name: fadeInUp;
        }
    }

    /**
     * 모바일 슬라이드 메뉴
     */

    div.slide-navigation {
        background: $white;

        font-weight: 400;
        font-size: 40px;
        width: 90vw;
        // height: 100vh;
        // min-height: calc(var(--vh, 1vh) * 100);
        // height: -webkit-fill-available;
        // overflow: scroll;
        // min-height: 100vh; /* Fallback for browsers that do not support Custom Properties */

        position: absolute;
        right: 0;
        top: 0;
        transition: all 0.9s ease-out;
        z-index: 999999999;
        transition-property: opacity;
        &.hidden {
            opacity: 0;
            transition-delay: 0.5s;
            pointer-events: none;
            cursor: default;
        }

        &.visible {
            opacity: 0.9;
        }

        &.animated {
            animation-fill-mode: both;
            animation-timing-function: ease-in;
        }

        &.slideInLeft {
            animation-duration: 0.5s;
            animation-name: slideInLeft;
        }

        &.slideOutLeft {
            animation-name: slideOutLeft;
            animation-duration: 0.5s;
        }

        nav {
            .flex-box {
                flex: 100;
                height: 100vh; /* Fallback for browsers that do not support Custom Properties */
                height: calc(var(--vh, 1vh) * 100);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                & > ul {
                    margin: 1rem 0 3rem;
                    padding: 1rem 0 2rem;
                    // height: 90vh; /* Fallback for browsers that do not support Custom Properties */
                    height: 100vh;
                    height: calc(var(--vh, 1vh) * 100);
                    // height: -webkit-fill-available;
                    overflow: scroll;
                    position: relative;
                    display: flex;
                    flex-direction: column;

                    align-items: flex-start;
                    // margin-bottom: 2rem;

                    & > div:first-child {
                        & > li {
                            list-style: none;
                            font-size: 17px;
                            font-weight: 500;
                            margin: 1.5rem 1rem;
                            &:last-child {
                                margin-bottom: 1.5rem;
                            }

                            & > a {
                                display: inline-block;
                                padding: 1rem 1rem;
                            }

                            &:last-child {
                                position: relative;
                                > a {
                                    margin-bottom: 0.5rem;
                                }
                                // main category
                                .sub-nav {
                                    &.active {
                                        max-height: 500px !important;
                                    }
                                    display: flex;
                                    transition: max-height 0.5s ease-in-out;
                                    max-height: 0;
                                    overflow: hidden;

                                    flex-direction: column;
                                    margin: 0 2rem;
                                    padding: 0;
                                    & > li {
                                        width: 100%;
                                        position: relative;
                                        list-style: none;
                                        font-size: 17px;
                                        font-weight: 400;
                                        text-transform: uppercase;

                                        & > a {
                                            width: 100%;
                                            display: inline-block;
                                            padding: 0.5rem 0 1.5rem;
                                        }
                                    }
                                    .sub-nav-item--Work {
                                        position: relative;
                                    }

                                    .sub-nav-item {
                                        .work-sub {
                                            &.active {
                                                max-height: 500px !important;
                                                padding: 0rem 0 1rem;
                                            }
                                            transition: all 0.45s ease-in;
                                            transition-property: max-height, padding;
                                            display: flex;
                                            overflow: hidden;
                                            max-height: 0;
                                            margin: 0;
                                            padding: 0;
                                            flex-direction: column;
                                            & > li.work-sub-item {
                                                list-style: none;
                                                font-size: 15px;
                                                font-weight: 200;
                                                &:first-child > a {
                                                    margin-top: 14px;
                                                }

                                                & > a {
                                                    width: 100%;
                                                    text-transform: uppercase;
                                                    display: inline-block;
                                                    width: 100%;
                                                    margin: 0;
                                                    padding: 0;
                                                    padding-bottom: 22px;
                                                    white-space: nowrap;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .sns {
                    margin-top: auto;
                    display: flex;
                    flex-direction: column;
                    padding: 2rem;
                    margin-bottom: 1rem;

                    a {
                        font-size: 0.9rem;
                        font-weight: 500;

                        &:first-child {
                            margin-bottom: 1rem;
                        }
                        &::before {
                            content: "●";
                            font-size: 0.7rem;
                            margin-right: 0.5rem;
                        }
                    }
                }
            }
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0.25;
    }

    to {
        opacity: 1;
    }
}
@keyframes fadeInUp {
    from {
        opacity: 0.5;

        transform: translate3d(0, 6px, 0);
    }

    to {
        opacity: 1;

        transform: translate3d(0, 0, 0);
    }
}
@keyframes slideInLeft {
    from {
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}
@keyframes slideOutLeft {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;

        transform: translate3d(100%, 0, 0);
    }
}
