.DesktopLayout {
    overflow: hidden;
    a {
        color: inherit;
        text-decoration: none;
        &:hover,
        &:focus,
        &:active,
        &:visited {
            color: inherit;
        }
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 1.3rem;
        width: 100%;
        height: 5.5vh;

        .concept-title span {
            font-size: 1.8rem;
            font-weight: 500;
        }

        // Main Category
        nav ul {
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0 2.5rem;
            li {
                list-style: none;
                font-size: 1.8rem;
                font-weight: 500;

                &:nth-child(2) {
                    margin: 0 4.5rem;
                }
            }
        }
    }
}
